body {
  font-family: 'Inter', sans-serif;
  letter-spacing: -0.4px;
  font-weight: 700;
  line-height: normal;
  color: $primary-text-color;

  background-color: #0c0c0c;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.title {
  font-size: 64px;
  & span {
    color: $accent-color;
  }
}

.description {
  margin-bottom: 40px;

  display: inline-block;

  font-size: 24px;
  text-transform: uppercase;

  background: linear-gradient(
    79deg,
    rgba(254, 163, 57, 0.6) 0%,
    rgba(235, 40, 40, 0.6) 33.33%,
    rgba(245, 50, 97, 0.6) 66.67%,
    rgba(245, 45, 237, 0.6) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.call{
  margin: 0 auto;

  font-size: 20px;
  font-weight: 400;
  color: $side-text-color;
}

.columns-wrapper{
  display: flex;
  gap: 40px;
}

.column {
  width: 300px;

  color: $side-text-color;
  font-size: 20px;
  font-weight: 400;
}
