<header class="header">
  <div class="header__container container">
    <svg class="header__logo">
      <use href="./img/svg/symbol-defs.svg#icon-gigle"></use>
    </svg>
    <nav class="header__nav">
      <ul class="header__list">
        <li class="header__item"><a href="#about" class="header__link">про проект</a></li>
        <li class="header__item"><a href="#advantages" class="header__link">переваги</a></li>
        <li class="header__item"><a href="#responses" class="header__link">відгуки</a></li>
        <li class="header__item"><a href="#faq" class="header__link">faq</a></li>
        <li class="header__item"><a href="#contacts" class="header__link">контакти</a></li>
      </ul>
      <button type="button" class="header__btn">отримати доступ</button>
    </nav>
  </div>
</header>
