<section class="about-proj">
  <div class="about-proj__container container">
    <div class="about-proj__text-wrap">
      <p class="about-proj__description description">про проект</p>
      <h2 class="about-proj__title title">
        Нове слово у проведенні івентів<span>.</span>
      </h2>
      <div class="about-proj__text-container columns-wrapper">
        <p class="about-proj__text column">
          <span>Gligle</span> - це ковток свіжого повітря для організаторів подій, який
          призначений для спрощення та оптимізації багатьох аспектів їхньої
          роботи.
        </p>
        <p class="about-proj__text column">
          Ми прагнемо розвиватись разом з вами, постійно оновлюючи та покращуючи
          продукт, додаючи лише найбільш корисні та актуальні функції для вас.
        </p>
      </div>
    </div>
    <div class="about-proj__citation-wrap">
      <p class="about-proj__citation">
        “Сюди треба придумати якусь пафосну цитатку як ми з маленького проекту
        робимо щось більше”
      </p>
      <a href="https://ua.linkedin.com/in/givenfly" class="creator-inf">
        <div class="creator-inf__data">
            <p class="creator-inf__name">Олексій Мошура</p>
            <p class="creator-inf__status">Засновник проекту</p>
        </div>
        <div class="creator-inf__thumb">
          <img src="./img/creator.png" class="creator-inf__img" alt="creator" width="64px" height="64px">
        </div>
      </a>
    </div>
  </div>
</section>
