<section class="advantages">
  <div class="advantages__container container">
    <p class="advantages__description description">переваги</p>
    <h2 class="advantages__title title">Робимо лише необхідне<span>.</span></h2>
    <p class="advantages__invitation call">
      Приєднуйтесь до бета тестування, чим більше фідбеку - тим швидше нам стане
      зрозуміло що потрібно організаторам та звичайним користувачам
    </p>
    <ul class="advantages__list">
      <li class="advantages__item">
        <img
          class="advantages__picture"
          src="./img/conf.png"
          alt="conf"
          width="42px"
          height="42px"
        />
        <h3 class="advantages__subtitle">Керування подіями</h3>
        <p class="advantages__possibilities">
          Легко організовуйте концерти, тури, мітапи, збори чи навіть навчальні
          процеси. За усім іншим ми доглянемо
        </p>
      </li>
      <li class="advantages__item">
        <svg class="advantages__svg advantages__picture">
          <use href="./img/svg/symbol-defs.svg#icon-mono"></use>
        </svg>
        <h3 class="advantages__subtitle">Інтеграція з “mono” банками</h3>
        <p class="advantages__possibilities">
          Для благодійних концертів та турів ви можете підключити до 10 банок
          щоб збирати гроші на певну ціль без перешкод.
        </p>
      </li>
      <li class="advantages__item">
        <img
          class="advantages__stickers advantages__picture"
          src="./img/message.png"
          alt="message"
          width="42px"
          height="42px"
        />
        <h3 class="advantages__subtitle">Комунікація з аудиторією</h3>
        <p class="advantages__possibilities">
          Ви можете за декілька кліків реалізувати розсилку по усій своїй
          аудиторії або по окремій її частині.
        </p>
      </li>
      <li class="advantages__item">
        <img
          class="advantages__stickers advantages__picture"
          src="./img/present.png"
          alt="present"
          width="42px"
          height="42px"
        />
        <h3 class="advantages__subtitle">Даруйте квитки</h3>
        <p class="advantages__possibilities">
          У нас є зручний інструмент для організаторів, які хочуть провести
          Giveaway або просто комусь подарувати квиток.
        </p>
      </li>
      <li class="advantages__item">
        <img
          class="advantages__stickers advantages__picture"
          src="./img/heart.png"
          alt="heart"
          width="42px"
          height="42px"
        />
        <h3 class="advantages__subtitle">Сюрприз для орагнізаторів</h3>
        <p class="advantages__possibilities">
          Після завершеного туру організатори отримують детальну статистику та
          інфографіку щодо їх виступів.
        </p>
      </li>
    </ul>
    <p class="advantages__text">згодом буде більше...</p>
  </div>
</section>
