<section class="contacts" id="contacts">
  <div class="container contacts__container">
    <p class="description contacts__description">контакти</p>
    <p class="title contacts__title">Привіт бета-учасникам<span>!</span></p>
    <p class="call contacts__call">
      Якщо у вас залишились питання або ви хочете взяти участь у тестуванні,
      можете написати нам через зручну лінію зв’язку, або лишивши повідомлення
      прямо тут
    </p>
    <ul class="contacts__list">
      <li class="contacts__item">
        <a href="" class="contacts__link">Telegram</a>
      </li>
      <li class="contacts__item">
        <a href="" class="contacts__link">Gmail</a>
      </li>
    </ul>
    <p class="contacts__or-text">або</p>
  </div>

  <include src="./partials/form.html"></include>
  
</section>
