<section class="faq">
  <div class="faq__container container">
    <div class="text-container">
      <p class="faq__description description">faq</p>
      <h2 class="faq__title title">
        Варто ознайомитись перед роботою<span>.</span>
      </h2>
      <div class="faq__columns-wrapper columns-wrapper">
        <p class="faq_column column">
          Тут зібрані найчастіші питання які виникали у тих, з ким ми
          співпрацюємо та скоріше за все виникнуть у вас під час ознайомлення
          проектом.
        </p>
        <p class="faq_column column">
          Якщо вашого питання немає у списку, тоді пишіть нам, ми вам з радістю
          допоможемо.
        </p>
      </div>
    </div>
    <ul class="faq__list">
      li.faq__item
    </ul>
  </div>
</section>
