<section class="faq">
  <div class="faq__container container">
    <div class="text-container">
      <p class="faq__description description">faq</p>
      <h2 class="faq__title title">
        Варто ознайомитись перед роботою<span>.</span>
      </h2>
      <div class="faq__columns-wrapper columns-wrapper">
        <p class="faq_column column">
          Тут зібрані найчастіші питання які виникали у тих, з ким ми
          співпрацюємо та скоріше за все виникнуть у вас під час ознайомлення
          проектом.
        </p>
        <p class="faq_column column">
          Якщо вашого питання немає у списку, тоді пишіть нам, ми вам з радістю
          допоможемо.
        </p>
      </div>
    </div>
    <ul class="faq__list ">
      <li class="faq__item">
        <p class="faq__question question-js">
          Чи можна використовувати ваш бот для організації?
        </p>
        <p class="faq__answer">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, ex
          voluptatum maxime omnis deserunt eveniet, at soluta facere saepe rerum
          repudiandae eaque sapiente ipsa magnam quis harum id itaque odit?
        </p>
      </li>
      <li class="faq__item">
        <p class="faq__question question-js">
          Чи можна використовувати ваш бот для організації?
        </p>
        <p class="faq__answer">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium
          placeat possimus consequatur, laboriosam vel labore alias pariatur
          necessitatibus. Nihil incidunt animi adipisci eos mollitia alias
          voluptates iure quod aut pariatur?
        </p>
      </li>
      <li class="faq__item">
        <p class="faq__question question-js">
          Чи можна використовувати ваш бот для організації?
        </p>
        <p class="faq__answer">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam
          accusantium, eaque hic unde, nulla, illo repudiandae ipsa animi
          assumenda voluptatum tenetur? Blanditiis modi quam amet quis possimus
          natus tenetur optio?
        </p>
      </li>
      <li class="faq__item">
        <p class="faq__question question-js">
          Чи можна використовувати ваш бот для організації?
        </p>
        <p class="faq__answer">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur
          delectus ex iusto esse deserunt accusantium, suscipit perspiciatis
          quis dignissimos eius dolorum temporibus voluptatem quos cum, quod est
          in vel nihil?
        </p>
      </li>
      <li class="faq__item">
        <p class="faq__question question-js">
          Чи можна використовувати ваш бот для організації?
        </p>
        <p class="faq__answer">
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui, dolorem
          quia. Excepturi atque nemo quaerat? Modi, officia deleniti vitae est,
          optio porro eius obcaecati possimus id temporibus voluptas doloribus
          nisi.
        </p>
      </li>
      <li class="faq__item">
        <p class="faq__question question-js">
          Чи можна використовувати ваш бот для організації?
        </p>
        <p class="faq__answer">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor dolores
          nemo vitae nobis facilis consequuntur. Facilis, vel fugiat eaque,
          corrupti error totam in quasi at similique culpa nisi, eligendi fuga.
        </p>
      </li>
    </ul>
  </div>
</section>
