<div class="form__wrapper">
  <form action="" class="form">
    <ul class="form__list">
      <li class="form__item">
        <label class="form__label" for="name">Як до вас звертатись?</label>
        <input
          class="form__data-input input"
          type="text"
          name="name"
          placeholder="Ілон Макс"
        />
      </li>
      <li class="form__item">
        <label class="form__label" for="contact">Як з вами зв’язатись?</label>
        <input
          class="form__data-input input"
          type="text"
          name="contact"
          placeholder="Вкажіть свій телеграм, пошту, тощо..."
        />
      </li>
    </ul>
    <div class="form__massage-input-wrapper">
      <label class="form__label" for="message">Ваше повідомлення</label>
      <textarea
        class="form__massage-input input"
        name="message"
        placeholder="Лишіть поле пустим, якщо ви хочете прийняти участь у бета тестуванні, або спробувати першим переваги нашої платформи"
      ></textarea>
    </div>
    <button type="submit" class="form__btn submit-btn-js">Відправити повідомлення</button>
  </form>
</div>
