<section class="responses">
  <div class="responses__container container">
    <p class="responses__description description">відгуки</p>
    <h2 class="responses__title title">
      Ми хочемо вас чути і бачити<span>.</span>
    </h2>
    <p class="responses__signature call">
      Пишіть нам при будь якій потребі, ми будемо вдячні за будь який відгук та
      допоможемо у вирішенні більшості проблем
    </p>
    <ul class="responses__list" id="numb-list-js">
      <li class="responses__item">
        <p class="responses__numb">
          <span class="number-js" data-max="3">0</span>
        </p>
        <p class="responses__numb-desc">тури по Україні</p>
      </li>
      <li class="responses__item">
        <p class="responses__numb">
          <span class="number-js" data-max="20">0</span>+
        </p>
        <p class="responses__numb-desc">завершених івентів</p>
      </li>
      <li class="responses__item">
        <p class="responses__numb">
          <span class="number-js" data-max="2000">0</span>+
        </p>
        <p class="responses__numb-desc">користувачів</p>
      </li>
    </ul>
  </div>
    <div class="swiper">
      <ul class="swiper__list swiper-wrapper">
        <li class="swiper__item swiper-slide">
          <p class="swiper__comment">
            “База, це просто соковитий кавун зі світу інструментів для
            організаторів”
          </p>
          <div class="swiper__user-container">
            <svg class="swiper__svg">
              <circle cx="32" cy="32" r="32"/>
            </svg>
            <div class="swiper__user-data">
              <p class="swiper__name">Band name</p>
              <p class="swiper__description">Музичний гурт, pre-beta користувач</p>
            </div>
          </div>
        </li>
        <li class="swiper__item swiper-slide">
          <p class="swiper__comment">
            “База, це просто соковитий кавун зі світу інструментів для
            організаторів”
          </p>
          <div class="swiper__user-container">
            <svg class="swiper__svg">
              <circle cx="32" cy="32" r="32"/>
            </svg>
            <div class="swiper__user-data">
              <p class="swiper__name">Band name</p>
              <p class="swiper__description">Музичний гурт, pre-beta користувач</p>
            </div>
          </div>
        </li>
        <li class="swiper__item swiper-slide">
          <p class="swiper__comment">
            “База, це просто соковитий кавун зі світу інструментів для
            організаторів”
          </p>
          <div class="swiper__user-container">
            <svg class="swiper__svg">
              <circle cx="32" cy="32" r="32"/>
            </svg>
            <div class="swiper__user-data">
              <p class="swiper__name">Band name</p>
              <p class="swiper__description">Музичний гурт, pre-beta користувач</p>
            </div>
          </div>
        </li>
        <li class="swiper__item swiper-slide">
          <p class="swiper__comment">
            “База, це просто соковитий кавун зі світу інструментів для
            організаторів”
          </p>
          <div class="swiper__user-container">
            <svg class="swiper__svg">
              <circle cx="32" cy="32" r="32"/>
            </svg>
            <div class="swiper__user-data">
              <p class="swiper__name">Band name</p>
              <p class="swiper__description">Музичний гурт, pre-beta користувач</p>
            </div>
          </div>
        </li>
        <li class="swiper__item swiper-slide">
          <p class="swiper__comment">
            “База, це просто соковитий кавун зі світу інструментів для
            організаторів”
          </p>
          <div class="swiper__user-container">
            <svg class="swiper__svg">
              <circle cx="32" cy="32" r="32"/>
            </svg>
            <div class="swiper__user-data">
              <p class="swiper__name">Band name</p>
              <p class="swiper__description">Музичний гурт, pre-beta користувач</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
</section>
