.faq {
  padding-top: 350px;

  &__container {
    display: flex;
    gap: 112px;
  }

  &__description {
  }

  &__title {
    width: 663px;
    margin-bottom: 70px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;

    padding-top: 100px;
    &.active-question-js{
      padding-top: 43px;
    }
  }

  &__item {
    padding: 15px 10px 15px 46px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }

  &__question {
    position: relative;

    cursor: pointer;

    font-size: 24px;
    font-weight: 500;
    &::before {
      content: '';
      width: 16px;
      height: 11px;

      position: absolute;
      top: 50%;
      left: -36px;

      background-image: url('../img/svg/pointer.svg');
    }
    &.active-js::before{
      transform: rotate(180deg);
    }
  }

  &__answer {
    display: none;
    margin-top: 10px;

    font-size: 16px;
    font-weight: 400;

    transform: translateY(100%);
    transition: 300ms;
    &.visible-js{
      display: block;
      transform: translateY(0);
    }
  }
}
