.faq {
  padding-top: 350px;

  &__container {
    display: flex;
    gap: 112px;
  }

  &__title {
    width: 663px;
    margin-bottom: 70px;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;

    padding-top: 100px;
    &.active-question-js {
      padding-top: 90px;
    }
  }

  &__item {
    padding: 15px 10px 15px 46px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }

  &__question {
    position: relative;

    margin-bottom: 0;

    cursor: pointer;

    font-size: 24px;
    font-weight: 500;
    &::before {
      content: '';
      width: 16px;
      height: 11px;

      position: absolute;
      top: 50%;
      left: -36px;

      transition: transform 200ms ease-in-out, margin-bottom 300ms ease-in-out;
      transform: rotate(0deg);

      background-image: url('../img/svg/pointer.svg#pointer');
    }
    &.active-js{
      margin-bottom: 15px;
      &::before {
        transform: rotate(-90deg);
      }
    }
  }

  &__answer {
    height: 0;

    color: rgba(255, 255, 255, 0.7);
    font-size: 20px;
    font-weight: 500;

    opacity: 0;
    transition: opacity 200ms ease-in-out, height 300ms ease-in-out;
    &.visible-js {
      opacity: 1;
      height: auto;
    }
  }
}
